<!DOCTYPE html>

<html>
    <head>
	<link  rel="stylesheet" href="/static/style.css">
	<title>blog post</title>
    </head>
    <body>
	<a href="/blog" class="main-title">blog</a>
		<div class="post">
			<div class="post-heading">
				<div class="post-title">{{subject}}</div>
				<div class="post-date">{{date.strftime("%b %d, %Y")}}</div>
			</div>
			<div class="post-content">{{content}}</div>
		</div>
    </body>
</html>


